/* regla para usar una font descargada a la pc */
@font-face {
    font-family: Handlock;
    src: url('../resources/typo/Handlock.otf');
}

@font-face {
	font-family: 'AnotherDay';
	src: url('../assets/font/AnotherDay.ttf');
}

@font-face {
	font-family: 'Amstagram';
	src: url('../assets/font/Amstagram.ttf');
}

/* regla para usar una font desde la web */
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

/*  font-family: "Montez", cursive; */

/* reseteo */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Selector de tipo clase */

img.img-logo {
    width: 180px;
}

nav {
    width: 100%;
}

#navbarToggler {
    text-align: center;
}

.footer {
    color: rgb(255, 255, 255);
    background-color: #333;
    margin-top: 50px;
    padding: 50px 0;
}
/* Comienzo menu */


/* Selector de tipo etiqueta */
.container h1 {
    color: rgb(255, 255, 255);
    background-color: #333;
    text-align: center;
    font-family: Handlock;
}

.container h2 {
    background-color: orangered;
    color: white; 
    text-align: center;
}


.bordes-redondeados{
    border-radius: 15px;
}


/*---------- IMG FONDO ----------*/

.fondo-papel{
    background-image: url('../resources/oye-arnold.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.nosotros-contenidos p {
    border:solid 2px black;
    display: block;
    width: 500px;
    height: 200px;
}

.nosotros-contenidos a {
    border:solid 2px #0e1096;
    display: inline-block;

    width: 100px;
    height: 100px;
}

.nosotros-contenidos h2 {
    display: none;
}

.form input{
    display: block;
}

.nosotros-contenidos p.overflow {
    height: 50px;
    width: 250px;
    overflow: auto; /*scroll solo en el sentido que lo necesite - hidden oculta el contenido que no entre*/
}