
.productos-destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

.div-productos {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    box-shadow: 1px 1px 5px 2px #51515195;
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
}

.div-productos img
{
    width: 280px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}

.div-productos p
{
    text-align: justify;
    margin: 0 10px;
}




.div-productos button{
    padding: 5px 15px;
    margin: 15px;
    border-radius: 5px;
    background-color: #ff05a0;
    color: white;
    font-family: sans-serif;
    width: 150px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.div-productos p.descripcion {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}